<article class="comment">
  <div class="well">
    <h4>
      <span class="author"><%= comment.author %></span>
      <small><%= time_tag comment.created_at %></small>
    </h4>
    <p><%= comment.message %></p>
    <%= link_to t('bt.edit'), edit_comment_path(comment), class: 'btn btn-link'%>
    <%= link_to t('bt.destroy'), comment_path(comment), method: :delete, class: 'btn btn-link' %>
  </div>
</article>
