<div class="well">
  <%= simple_form_for(@post) do |f| %>
    <%= f.error_notification %>
    <%= f.input :title %>
    <%= f.input :preview %>
    
    <%= f.input :content, as: :text %>
    <div class="col-xs-12">
      <%= link_to t('.markdown_supported'), 'https://guides.github.com/features/mastering-markdown/', target: "_blank", class: 'btn btn-link' %>
    </div>
    
    <div class="col-xs-12">
      <section>
        <h3><%= t('.post_preview') %></h3>
        <div class="post-preview">
          &nbsp; 
        </div>
      </section>
    </div>

    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
</div>
