<article class="post">
  <header>
    <h3>
      <%= link_to post.title, post %>
    </h3>
    <%= t 'created_at' %> <%= time_tag post.created_at %>
  </header>
  <p><%= post.content.slice(0, 50) + '...' %></p>
  <%= link_to t('bt.edit'), edit_post_path(post), class: 'btn btn-link' %>
  <%= link_to t('bt.destroy'), post_path(post), 
      data: { confirm: I18n.t("are_you_sure") }, :method => :delete, class: 'btn btn-link' %>
</article>
