<article class="post">
  <header>
    <div class="page-header">
      <h2>
        <%= @post.title %>
        <%= link_to t('bt.edit'), edit_post_path(@post), class: 'btn btn-link' %>
        <%= link_to t('bt.destroy'), post_path(@post), method: :delete,
                    data: { confirm: I18n.t("are_you_sure") }, class: 'btn btn-link' %>
      </h2>
      <%= t('created_at') %> <%= time_tag @post.created_at %>,
      <%= t('updated_at') %> <%= time_tag @post.updated_at %>
    </div>
  </header>
  <p><%= @post.content %></p>

  <section class="comments">
    <h3>
      <%= t('.comments') %>
      <span class="label label-default">
        <%= @comments.size %>
      </span>
    </h3>
    
    <%- unless @comments.empty? %>
      <%= render @comments %>
    <%- else %>
      <%= t('.empty') %>
    <% end %>

    <%= paginate @comments %>

    <h3>Comentar</h3>
    <%= render 'comments/form' %>
    
  </section>

</article>
